
/* styles for shortcodes */

/*** qfgallery ***/

.qfcontainer
{
    margin: 15px 20px;
    text-align: center;
    overflow: auto;
}

.qfcontainer-matte
{
    padding: 15px;
    background-color: #ccc;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.qfcontainer H3
{
    margin: 5px;
    margin-bottom: 10px;
    padding-bottom: 8px;
    border-bottom: 1px solid #999;
    font-size: 1.6em;
    font-weight: normal;
    color: #333;
    text-align: center;
}

.qfgallerytnail
{
    margin: 10px;
    height: 128px;
    width: 128px;
    overflow: hidden;
    border: 1px solid #777;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}

.qfgallerytnail IMG
{
    padding: 0px;
    border: 0px none;
}

/*** faqinway ***/

.faqinwaycontainer
{
    margin: 10px 0px;
}

.faqinwayqa
{
    border-bottom: 1px solid #ccc;
}

.faqinwayq
{
    margin: 2px;
    color: #882200;
    cursor: pointer;
    font-size: 10pt;
}

.faqinwaya
{
    display: none;
    margin: 5px 0px;
    margin-bottom: 15px;
    padding: 12px 15px;
    background-color: #ffee99;
}

